.root {
  --ring-size: 120px;
  position: fixed;
  left: 50%;
  bottom: 25%;
  transform: translateX(-50%) scale(0.9);
  transition: opacity 0.7s ease, visibility 0.7s ease, transform 0.3s ease;
  will-change: opacity, visibility, transform;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px 50px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .root {
    --ring-size: 150px;
    bottom: 8%;
    transform: translateX(-50%) scale(1);
  }
}

@media screen and (min-width: 1000px) {
  .root {
    --ring-size: 140px;
    bottom: 5%;
  }
  .label{
    font-size: 0.8rem !important;
  }
  .button{
    &&::after,
    &&::before {
      width: var(--ring-size);
      height: var(--ring-size);
    }
  }
}
@media screen and (max-width: 768px){
  
  .root {
    --ring-size: 90px;
    bottom: 140px;
    top: auto;
    right: 0;
  }
  .label{
    font-size: 1rem !important;
  }
  .button{
    &&::after,
    &&::before {
      width: var(--ring-size);
      height: var(--ring-size);
    }
  }
}

.button {
  position: relative;
  border: 0;
  background-color: transparent;
  color: var(--color-white);
  cursor: none !important;

  &&::after,
  &&::before {
    position: absolute;
    z-index: var(--z-above);
    top: 50%;
    left: 50%;
    width: var(--ring-size);
    height: var(--ring-size);
    border: 2px solid #bb61f6;
    border-radius: 50%;
    content: '';
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
  }
}

.label {
  display: inline-block;
  width: 80px;
  font-size: 1.6rem;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--ring-size);
  height: var(--ring-size);
  border-radius: 50%;
  content: '';
  opacity: 0;
  transform: translate3d(-50%, -50%, 0);

  &:nth-child(1) {
    border: 1px solid rgb(var(--color-whiteRGB) / 50%);
    transform-origin: 48% 47%;
  }

  &:nth-child(2) {
    border: 1px solid rgb(var(--color-whiteRGB) / 80%);
    transform-origin: 52% 49%;
  }

  &:nth-child(3) {
    border: 1px solid rgb(var(--color-whiteRGB) / 20%);
    transform-origin: 54% 51%;
  }

  &:nth-child(4) {
    border: 1px solid rgb(var(--color-whiteRGB) / 30%);
    transform-origin: 48% 48.5%;
  }

  &:nth-child(5) {
    border: 1px solid rgb(var(--color-whiteRGB) / 60%);
    transform-origin: 46% 49%;
  }
}

.loaded {
  .button {
    &::after {
      opacity: 1;
      transition: all 0.5s ease;
    }

    &::before {
      animation: blink 1.5s;
    }

    &:hover {
      &::after {
        background-color: rgb(var(--color-whiteRGB) / 10%);
      }
    }
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease 0s, visibility 0s 0.3s;
  visibility: hidden;
}

@keyframes blink {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(1, 1);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(1.4, 1.4);
  }
}

@media screen and (min-height: 711px) and (max-height: 840px) {
  .root {
    --ring-size: 120px;
  }
}
